body {
  background: linear-gradient(#333346, #444466);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.btn {
  border: 1px solid #445;
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  transition: all 0.2s ease-in-out;
  background: #cce;
}

.btn:hover {
  background: #aab;
}

.gol-controller {
  justify-content: center;
  gap: 5px;
}

.gol-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  max-width: 600px;
}

.gol-grid,
.gol-controller {
  --cellWidth: calc(100% / var(--cellColumns));
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background: #889;
  border-radius: 5px;
}

.gol-grid .cell {
  --borderWidth: 1px;
  aspect-ratio: 1;
  flex-grow: 1;
  width: var(--cellWidth);
  outline: 1px solid #44444444;
  background: white;
  border-radius: 20%;
  transition: all 0.1s ease-in-out;
}

.gol-grid .cell:hover {
  background:#bbd;
}

.gol-grid .cell.active:hover {
  background: #448;
}

.cell.active {
  background: #226;
}

.btn.play {
  min-width: 50px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.play.active {
  background-color: #bdd;
}

.btn.play.active:hover {
  background-color: #9bb;
}

.btn.play i {
  aspect-ratio: 1;
  line-height: 1;
}

.btn.play:not(.active) .fa-pause {
  display: none;
}

.btn.play.active .fa-play {
  display: none;
}